/**  Basic Page CSS **/
body{
  font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    position: relative;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    letter-spacing:0.1em;
    margin: 0;
      font-size: 4em;
  
  }
  

/*====================
        HEADER
======================*/

header {
  padding:10px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
}
header .header_logo_venue {
  font-size: 40px;
}

header .header_logo_title {
  text-transform: uppercase;
}

/*====================
        SLIDER
======================*/


/*Vignette*/
/*Not suer if this one is working*/
/* .vignette img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 300px rgba(0,0,0, 2) #ff0000 inset;
}
 */

.carousel_wrapper {
  height:700px;
  overflow: hidden;
  position: relative;
}

.carousel_image {
  background-size: cover !important;
}