/**  Basic Page CSS **/
body{
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    position: relative;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    letter-spacing:0.1em;
    margin: 0;
      font-size: 4em;
  
  }
  

/*====================
        HEADER
======================*/

/* LOGO */

.header_logo {
  flex-grow: 1;
  padding:0px 0px 0px 0px;

}

.logo_image {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-grow: 1;

}
/* NOT USED */
header {
  padding:10px 0px;
  transition: all 300ms ease-in;
}



header .header_logo_title {
  text-transform: uppercase;
}

.logo_font {
  font-family: 'MedievalSharp';
  font-size: 40px;
  flex-grow: 1;
  text-transform: uppercase;

}

.sublogo_font {
  font-family: 'MedievalSharp';
  font-size: 20px;
  flex-grow: 1;
  
}
/*====================
        SLIDER
======================*/


/*Vignette*/
/*Not suer if this one is working*/
/* .vignette img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 300px rgba(0,0,0, 2) #ff0000 inset;
}
 */
 
.carousel_wrapper {
  height:700px;
  overflow: hidden;
  position: relative;
}

.carousel_image {
  
  background-size: cover !important;
}