/**  Basic Page CSS **/
body{
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
      font-size: 1.5em;
      position: relative;
    }
    
    h1, h2, h3, h4, h5, h6 {
      font-family: "Lato", sans-serif;
      font-weight: 100;
      letter-spacing:0.1em;
      margin: 0;
        font-size: 4em;
    
    }
    
  .link_main {
  color: white;
  text-decoration-line: none;
  }
  
  .center_wrapper {
    width: 900px;
    margin:0 auto;
  }
  
  .font_righteous {
    font-family: 'Righteous', cursive;
  }
  
  .bck_black {
    background: #3c3c3c;
  }
  .bck_white {
    background: #ffffff;
  }
  .bck_red {
    background: #ff4800;
  }
  .bck_yellow {
    background: #ffa800;
  }
  
  